[include COB_led_lights.cfg]
[include shell_command.cfg]
[include mainsail.cfg]
[include macro.cfg]
[include btc/btc.cfg]
[include print_start.cfg]
[include print_end.cfg]

## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 200.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 2.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#==============================================================================
# Serial connection  make sure this mathces the output from the command ls /dev/serial/by-id/* on your klipper machine/PI
#==============================================================================
[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_48002D001651313338343730-if00
canbus_uuid: 5a816667077f
#018a6a1af051 # this is the manin board

#[mcu]
#serial: /dev/serial/by-id/<your-mcu-id>

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#==============================================================================
# Tempreture readings
#==============================================================================
[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100

#==============================================================================
# Printer limit settings
#==============================================================================
[printer]
kinematics: corexy
#max_velocity: 3000
max_velocity: 2500
max_accel: 13000
#max_accel_to_decel: 17000
max_z_velocity: 20
#max_z_accel: 3000
max_z_accel: 1500
square_corner_velocity: 21

#==============================================================================
#  Enable object exclusion
#==============================================================================
[exclude_object]


#==============================================================================
# homing override
#==============================================================================

[gcode_macro G28]
rename_existing: G28.1
gcode:
    {% set th = printer.toolhead %}

    {% if th.homed_axes == "" %}
        SET_KINEMATIC_POSITION Z=0
        LOWER_BED
        M84
    {% elif th.position.z < 7 %}
        LOWER_BED
    {% endif %}

    {% if 'X' in params %}
        HOME_X
    {% elif 'Y' in params %}
        HOME_Y
    {% elif 'Z' in params %}
        HOME_Z
    {% else %}
        {% if "y" in th.homed_axes %}
            M118 Y-Axis Already Homed
        {% else %}
            HOME_Y
        {% endif %}
        
        {% if "x" in th.homed_axes %}
            M118 X-Axis Already Homed
        {% else %}
            HOME_X
        {% endif %}

        T0

        HOME_Z
    {% endif %}

[gcode_macro HOME_X]
gcode:
    M118 Homing X-Axis...
    G28.1 X0
    G0 X1

[gcode_macro HOME_Y]
gcode:
    M118 Homing Y-Axis...
    G28.1 Y0
    G0 Y1

#[gcode_macro T0]
#gcode: 
#      T0


[gcode_macro HOME_Z]
gcode:
    {% set th = printer.toolhead %}
    {% if "xy" in th.homed_axes %}
        M118 Homing Z-Axis...
        G90
        G0 X200 Y150 F6000
        G28.1 Z0
        G0 Z5
    {% else %}
        M118 "Must home X and Y first!"
    {% endif %}

[gcode_macro LOWER_BED]
gcode:
    G90
    G0 Z7 F600
    #G90



#==============================================================================
# Bed
#==============================================================================
[heater_bed]
heater_pin: PE5
sensor_type: Generic 3950
sensor_pin: PC1
control: pid
pid_Kp: 45.899
pid_Ki: 1.286
pid_Kd: 409.652
min_temp: -3
max_temp: 110


#==============================================================================
# X stepper motors
#==============================================================================
[stepper_x]
##	in M6 position
step_pin: PE0
dir_pin: PG3
enable_pin: !PG4
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  
endstop_pin: !PG11    #make sure to set the correct pin here.
#endstop_pin: !orbitoolO2:PB0
position_endstop: -0 #374
position_min: 0
position_max: 380
homing_speed: 75
homing_retract_dist: 0

[tmc5160 stepper_x] 
#spi_bus: spi3
cs_pin: PG2
#diag_pin: PA8
interpolate: false
run_current: 2
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 1
driver_TOFF: 3
driver_DISS2G: 1
driver_DISS2VS: 1


[stepper_x1]
##	in M5 position
step_pin: PE1
dir_pin: PF0
enable_pin: !PC15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_x:virtual_endstop 

[tmc5160 stepper_x1] 
#spi_bus: spi3
cs_pin: PF1
#diag_pin: PD6
interpolate: false
run_current: 2
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 1
driver_TOFF: 3
driver_DISS2G: 1
driver_DISS2VS: 1

#==============================================================================
# Y stepper motors
#==============================================================================
[stepper_y]
##	in M4 position
step_pin: PE15
dir_pin: PE11
enable_pin: !PF2
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  
endstop_pin: !PG10                #make sure to set the correct pin here.
position_endstop: -0
position_min: 0
position_max: 339.2 #340
homing_speed: 75
homing_retract_dist: 0

[tmc5160 stepper_y] 
#spi_bus: spi3
cs_pin: PE10
#diag_pin: PD7
interpolate: false
run_current: 2
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 1
driver_TOFF: 3
driver_DISS2G: 1
driver_DISS2VS: 1

[stepper_y1]
##	in M3 position
step_pin: PE14
dir_pin: PE8
enable_pin: !PE9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_y:virtual_endstop  

[tmc5160 stepper_y1] 
#spi_bus: spi3
cs_pin: PE7
#diag_pin: PG9
interpolate: false
run_current: 2
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 1
driver_TOFF: 3
driver_DISS2G: 1
driver_DISS2VS: 1


#==============================================================================
# Z stepper motor
#==============================================================================
[stepper_z]
## In M2 position
step_pin: PE4
dir_pin: !PG0
enable_pin: !PG1
microsteps: 32
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop #!PG12
position_max: 390 #385
full_steps_per_rotation: 200 #180 
homing_retract_dist: 5
homing_positive_dir: false
homing_speed: 4 #4.0
second_homing_speed: 2 #2
step_pulse_duration: 0.000004


position_min: -2
#position_endstop: 0 

[tmc2209 stepper_z]
interpolate: false
uart_pin: PF15
run_current: 1.3
sense_resistor: 0.110
stealthchop_threshold: 0


#==============================================================================
# Stepper Cooling Fans
#==============================================================================
[multi_pin my_controller_fan_pins]
pins:PD12,PB11,PA3,PA1,PA2,PA15

[fan_generic stepper_fan]
pin: multi_pin:my_controller_fan_pins
kick_start_time: 0
max_power: 1.0
cycle_time: 0.1    #10 kHz PWM signal
hardware_pwm: False
kick_start_time: 0

#[fan_generic partfan0]
#[fan]
#pin: PD15 #toolboard0:gpio21
#max_power: 1
#cycle_time: 0.05
#hardware_pwm: false
#shutdown_speed: 0
#kick_start_time: 0.2



[bed_mesh]
speed: 200
horizontal_move_z: 2
mesh_min: 50, 40
mesh_max: 330, 240
probe_count: 9,9
algorithm: bicubic 
fade_start: 1
fade_end: 6
fade_target: 0





#==============================================================================
# Screw Tilt adjust
#==============================================================================
[screws_tilt_adjust] 
screw1: 50,15
screw1_name: rear right
screw2: 330,15
screw2_name: rear left 
screw3: 330,240
screw3_name: front left screw
screw4: 50,240
screw4_name: front right screw
speed: 100
screw_thread: CW-M3

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 14
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 330.0
#*# min_y = 40.0
#*# max_y = 240.0
#*# calibrate =
#*# 	0.050000:1319382.022,0.090000:1319147.125,0.130000:1318863.245,
#*# 	0.170000:1318568.584,0.210000:1318250.721,0.250000:1317937.504,
#*# 	0.290000:1317657.129,0.330000:1317381.422,0.370000:1317099.875,
#*# 	0.410000:1316806.793,0.450000:1316527.881,0.490000:1316245.684,
#*# 	0.530000:1315980.297,0.570000:1315731.029,0.610000:1315472.116,
#*# 	0.650000:1315207.137,0.690000:1314940.748,0.730000:1314689.172,
#*# 	0.770000:1314441.055,0.810000:1314178.760,0.850000:1313935.466,
#*# 	0.890000:1313688.893,0.930000:1313450.258,0.970000:1313211.444,
#*# 	1.010000:1312969.267,1.050000:1312722.264,1.090000:1312489.120,
#*# 	1.130000:1312264.589,1.170000:1312039.403,1.210000:1311822.343,
#*# 	1.250000:1311579.353,1.290000:1311379.374,1.330000:1311169.195,
#*# 	1.370000:1310946.349,1.410000:1310721.665,1.450000:1310515.294,
#*# 	1.490000:1310298.176,1.530000:1310079.983,1.570000:1309880.833,
#*# 	1.610000:1309694.046,1.650000:1309485.828,1.690000:1309283.250,
#*# 	1.730000:1309084.243,1.770000:1308883.180,1.810000:1308688.384,
#*# 	1.850000:1308495.286,1.890000:1308308.984,1.930000:1308105.015,
#*# 	1.970000:1307914.699,2.010000:1307722.133,2.050000:1307538.119,
#*# 	2.090000:1307362.288,2.130000:1307184.171,2.170000:1307011.482,
#*# 	2.210000:1306831.631,2.250000:1306657.360,2.290000:1306485.794,
#*# 	2.330000:1306316.713,2.370000:1306144.249,2.410000:1305974.240,
#*# 	2.450000:1305798.073,2.490000:1305640.292,2.530000:1305479.101,
#*# 	2.570000:1305320.501,2.610000:1305161.405,2.650000:1305006.542,
#*# 	2.690000:1304857.568,2.730000:1304698.260,2.770000:1304535.536,
#*# 	2.810000:1304378.155,2.850000:1304217.462,2.890000:1304069.610,
#*# 	2.930000:1303922.227,2.970000:1303776.567,3.010000:1303625.894,
#*# 	3.050000:1303467.796,3.090000:1303324.390,3.130000:1303190.396,
#*# 	3.170000:1303051.832,3.210000:1302913.022,3.250000:1302781.170,
#*# 	3.290000:1302648.120,3.330000:1302520.917,3.370000:1302391.831,
#*# 	3.410000:1302268.109,3.450000:1302142.291,3.490000:1302016.024,
#*# 	3.530000:1301889.713,3.570000:1301761.831,3.610000:1301641.964,
#*# 	3.650000:1301515.759,3.690000:1301397.267,3.730000:1301282.376,
#*# 	3.770000:1301162.572,3.810000:1301048.673,3.850000:1300931.387,
#*# 	3.890000:1300824.563,3.930000:1300720.476,3.970000:1300611.940,
#*# 	4.010000:1300508.914,4.050000:1300400.522
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 32.702197
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.072222, 0.039243, 0.044974, 0.060025, 0.047048, 0.022936, 0.015901, 0.000039, 0.016682
#*# 	0.061817, 0.011757, 0.019783, 0.033309, 0.030802, 0.018181, 0.013465, 0.003765, 0.016891
#*# 	0.092576, 0.003944, 0.014632, 0.017543, 0.024025, 0.015242, 0.006753, -0.013102, 0.011941
#*# 	0.092703, 0.009286, 0.009452, 0.015027, 0.015975, 0.019195, 0.017021, 0.003163, 0.039214
#*# 	0.088876, -0.018915, -0.014953, -0.003768, 0.001686, -0.004220, 0.001724, -0.009788, 0.042619
#*# 	0.054689, -0.023505, -0.027034, -0.007602, -0.005379, -0.005529, 0.000800, -0.000387, 0.055489
#*# 	0.001074, -0.061770, -0.052393, -0.030680, -0.024409, -0.026464, -0.020566, -0.015629, 0.044063
#*# 	-0.049281, -0.104146, -0.070517, -0.052754, -0.037378, -0.037296, -0.025884, -0.016720, 0.033493
#*# 	-0.092478, -0.141179, -0.110397, -0.085494, -0.065271, -0.071449, -0.062536, -0.046167, -0.006903
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 330.0
#*# min_y = 40.0
#*# max_y = 240.0
