[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script
gcode:
    #   Get Boundaries
   # {% set min_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
   # {% set min_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
   # {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
   # {% set tools_used_inprint = printer["gcode_macro _btc_Variables"].tools_used_inprint %}
    
    #   Check end position to determine safe directions to move
   # {% if printer.toolhead.position.x < (min_x - 15) %}
   #     {% set x_safe = 10.0 %}
   # {% else %}
   #     {% set x_safe = -10.0 %}
   # {% endif %}

   # {% if printer.toolhead.position.y < (min_y - 15) %}
   #     {% set y_safe = 10.0 %}
   # {% else %}
   #     {% set y_safe = -10.0 %}
   # {% endif %}

   # {% if printer.toolhead.position.z < (max_z - 2) %}
   #     {% set z_safe = 50.0 %}
   # {% else %}
   #     {% set z_safe = max_z - printer.toolhead.position.z %}
   # {% endif %}
    
    #   Get Boundaries
    [gcode_macro _DEFINE_SAFE_MOVES]
    template:
      {% set min_x = printer.configfile.config["stepper_x"]["position_min"]|float %}
      {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
      {% set min_y = printer.configfile.config["stepper_y"]["position_min"]|float %}
      {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
      {% set min_z = printer.configfile.config["stepper_z"]["position_min"]|float %}
      {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    
      {% set cur_x = printer.toolhead.position.x %}
      {% set cur_y = printer.toolhead.position.y %}
      {% set cur_z = printer.toolhead.position.z %}
    
      {% if cur_x > (min_x + 10) %}
        {% set x_safe = -10.0 %}
      {% else %}
        {% set temp_x = max_x - cur_x - 0.1 %}
        {% set x_safe = 10.0 if temp_x > 10 else temp_x %}
      {% endif %}
    
      {% if cur_y > (min_y + 10) %}
        {% set y_safe = -10.0 %}
      {% else %}
        {% set temp_y = max_y - cur_y - 0.1 %}
        {% set y_safe = 10.0 if temp_y > 10 else temp_y %}
      {% endif %}
    
      {% if cur_z > (min_z + 50) %}
        {% set z_safe = -50.0 %}
      {% else %}
        {% set temp_z = max_z - cur_z - 0.1 %}
        {% set z_safe = 10.0 if temp_z > 10 else temp_z %}
      {% endif %}
    
      {% set x_str = "%.3f"|format(x_safe) %}
      {% set y_str = "%.3f"|format(y_safe) %}
      {% set z_str = "%.3f"|format(z_safe) %}
    
      G1 X{{ x_str }} Y{{ y_str }} Z{{ z_str }} F3000

  
  
      
    #  Commence PRINT_END
    M400                             ; wait for buffer to clear
#    status_part_ready
    G92 E0                           ; zero the extruder
    G1 E-4.0 F3600                   ; retract
    G91                              ; relative positioning
    G0 Z{z_safe} + Z10 F3600         ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    {% for toolnumber in tools_used_inprint %}
      M104 S0 T{toolnumber}                         ; turn off hotend
    {% endfor %}
    M140 S0                          ; turn off bed
    ;M106 S0                          ; turn off fan
    #M107                             ; turn off all fans
    G90                              ; absolute positioning
    T0
    # G1 X10 Y10                       ; park nozzle at front left
    G0 X{min_x / 2} Y{min_y - 80} F3600   ; park nozzle at rear
    M84
    M117 Finished!
    status_ready


    SET_FAN_SPEED FAN=stepper_fan SPEED=0.0