[include COB_led_lights.cfg]
[include shell_command.cfg]
[include mainsail.cfg]
[include macro.cfg]
[include btc/btc.cfg]
[include print_start.cfg]
[include print_end.cfg]


## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 200.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 2.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#==============================================================================
# Serial connection  make sure this mathces the output from the command ls /dev/serial/by-id/* on your klipper machine/PI
#==============================================================================
[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_48002D001651313338343730-if00
canbus_uuid: 5a816667077f
#018a6a1af051 # this is the manin board

#[mcu]
#serial: /dev/serial/by-id/<your-mcu-id>

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#==============================================================================
# Tempreture readings
#==============================================================================
[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100

#==============================================================================
# Printer limit settings
#==============================================================================
[printer]
kinematics: corexy
#max_velocity: 3000
max_velocity: 2500
max_accel: 13000
#max_accel_to_decel: 17000
max_z_velocity: 20
#max_z_accel: 3000
max_z_accel: 1500
square_corner_velocity: 21

#==============================================================================
#  Enable object exclusion
#==============================================================================
[exclude_object]


#==============================================================================
# homing override
#==============================================================================

[gcode_macro G28]
rename_existing: G28.1
gcode:
    {% set th = printer.toolhead %}

    {% if th.homed_axes == "" %}
        SET_KINEMATIC_POSITION Z=0
        LOWER_BED
        M84
    {% elif th.position.z < 7 %}
        LOWER_BED
    {% endif %}

    {% if 'X' in params %}
        HOME_X
    {% elif 'Y' in params %}
        HOME_Y
    {% elif 'Z' in params %}
        HOME_Z
    {% else %}
        {% if "y" in th.homed_axes %}
            M118 Y-Axis Already Homed
        {% else %}
            HOME_Y
        {% endif %}
        
        {% if "x" in th.homed_axes %}
            M118 X-Axis Already Homed
        {% else %}
            HOME_X
        {% endif %}

        T0

        HOME_Z
    {% endif %}

[gcode_macro HOME_X]
gcode:
    M118 Homing X-Axis...
    G28.1 X0
    G0 X1

[gcode_macro HOME_Y]
gcode:
    M118 Homing Y-Axis...
    G28.1 Y0
    G0 Y1

#[gcode_macro T0]
#gcode: 
#      T0


[gcode_macro HOME_Z]
gcode:
    {% set th = printer.toolhead %}
    {% if "xy" in th.homed_axes %}
        M118 Homing Z-Axis...
        G90
        G0 X200 Y150 F6000
        G28.1 Z0
        G0 Z5
    {% else %}
        M118 "Must home X and Y first!"
    {% endif %}

[gcode_macro LOWER_BED]
gcode:
    G90
    G0 Z7 F600
    #G90



#==============================================================================
# Bed
#==============================================================================
[heater_bed]
heater_pin: PE5
sensor_type: Generic 3950
sensor_pin: PC1
control: pid
pid_Kp: 45.899
pid_Ki: 1.286
pid_Kd: 409.652
min_temp: -3
max_temp: 110


#==============================================================================
# X stepper motors
#==============================================================================
[stepper_x]
##	in M6 position
step_pin: PE0
dir_pin: PG3
enable_pin: !PG4
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  
endstop_pin: !PG11    #make sure to set the correct pin here.
#endstop_pin: !orbitoolO2:PB0
position_endstop: -0 #374
position_min: 0
position_max: 380
homing_speed: 75
homing_retract_dist: 0

[tmc5160 stepper_x] 
#spi_bus: spi3
cs_pin: PG2
#diag_pin: PA8
interpolate: false
run_current: 2
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 1
driver_TOFF: 3
driver_DISS2G: 1
driver_DISS2VS: 1


[stepper_x1]
##	in M5 position
step_pin: PE1
dir_pin: PF0
enable_pin: !PC15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_x:virtual_endstop 

[tmc5160 stepper_x1] 
#spi_bus: spi3
cs_pin: PF1
#diag_pin: PD6
interpolate: false
run_current: 2
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 1
driver_TOFF: 3
driver_DISS2G: 1
driver_DISS2VS: 1

#==============================================================================
# Y stepper motors
#==============================================================================
[stepper_y]
##	in M4 position
step_pin: PE15
dir_pin: PE11
enable_pin: !PF2
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  
endstop_pin: !PG10                #make sure to set the correct pin here.
position_endstop: -0
position_min: 0
position_max: 339.2 #340
homing_speed: 75
homing_retract_dist: 0

[tmc5160 stepper_y] 
#spi_bus: spi3
cs_pin: PE10
#diag_pin: PD7
interpolate: false
run_current: 2
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 1
driver_TOFF: 3
driver_DISS2G: 1
driver_DISS2VS: 1

[stepper_y1]
##	in M3 position
step_pin: PE14
dir_pin: PE8
enable_pin: !PE9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
#endstop_pin: tmc5160_stepper_y:virtual_endstop  

[tmc5160 stepper_y1] 
#spi_bus: spi3
cs_pin: PE7
#diag_pin: PG9
interpolate: false
run_current: 2
sense_resistor: 0.033
spi_software_mosi_pin: PB5
spi_software_miso_pin: PB4
spi_software_sclk_pin: PB3
#driver_SGT: -64 # -64 is most sensitive value, 63 is least sensitive
driver_TBL: 1
driver_TOFF: 3
driver_DISS2G: 1
driver_DISS2VS: 1


#==============================================================================
# Z stepper motor
#==============================================================================
[stepper_z]
## In M2 position
step_pin: PE4
dir_pin: !PG0
enable_pin: !PG1
microsteps: 32
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop #!PG12
position_max: 390 #385
full_steps_per_rotation: 200 #180 
homing_retract_dist: 5
homing_positive_dir: false
homing_speed: 4 #4.0
second_homing_speed: 2 #2
step_pulse_duration: 0.000004


position_min: -2
#position_endstop: 0 

[tmc2209 stepper_z]
interpolate: false
uart_pin: PF15
run_current: 1.3
sense_resistor: 0.110
stealthchop_threshold: 0


#==============================================================================
# Stepper Cooling Fans
#==============================================================================
[multi_pin my_controller_fan_pins]
pins:PD12,PB11,PA3,PA1,PA2,PA15

[fan_generic stepper_fan]
pin: multi_pin:my_controller_fan_pins
kick_start_time: 0
max_power: 1.0
cycle_time: 0.1    #10 kHz PWM signal
hardware_pwm: False
kick_start_time: 0

#[fan_generic partfan0]
#[fan]
#pin: PD15 #toolboard0:gpio21
#max_power: 1
#cycle_time: 0.05
#hardware_pwm: false
#shutdown_speed: 0
#kick_start_time: 0.2



[bed_mesh]
speed: 200
horizontal_move_z: 2
mesh_min: 50, 40
mesh_max: 330, 240
probe_count: 9,9
algorithm: bicubic 
fade_start: 1
fade_end: 6
fade_target: 0





#==============================================================================
# Screw Tilt adjust
#==============================================================================
[screws_tilt_adjust] 
screw1: 50,15
screw1_name: rear right
screw2: 330,15
screw2_name: rear left 
screw3: 330,240
screw3_name: front left screw
screw4: 50,240
screw4_name: front right screw
speed: 100
screw_thread: CW-M3

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = -41.293668
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050000:1381714.149,0.090000:1380306.854,0.130000:1378909.256,
#*# 	0.170000:1377631.028,0.210000:1376509.899,0.250000:1374942.717,
#*# 	0.290000:1373654.837,0.330000:1372460.569,0.370000:1371261.034,
#*# 	0.410000:1370111.420,0.450000:1368924.531,0.490000:1367756.005,
#*# 	0.530000:1366630.211,0.570000:1365500.707,0.610000:1364447.781,
#*# 	0.650000:1363384.649,0.690000:1362339.080,0.730000:1361331.945,
#*# 	0.770000:1360360.538,0.810000:1359419.022,0.850000:1358475.107,
#*# 	0.890000:1357498.965,0.930000:1356531.452,0.970000:1355565.404,
#*# 	1.010000:1354633.758,1.050000:1353741.163,1.090000:1352919.298,
#*# 	1.130000:1352116.976,1.170000:1351321.722,1.210000:1350487.458,
#*# 	1.250000:1349668.026,1.290000:1348853.137,1.330000:1348046.256,
#*# 	1.370000:1347259.524,1.410000:1346500.123,1.450000:1345713.996,
#*# 	1.490000:1344960.040,1.530000:1344208.135,1.570000:1343489.984,
#*# 	1.610000:1342788.893,1.650000:1342103.742,1.690000:1341417.242,
#*# 	1.730000:1340754.559,1.770000:1340094.719,1.810000:1339467.026,
#*# 	1.850000:1338789.506,1.890000:1338115.024,1.930000:1337415.301,
#*# 	1.970000:1336764.868,2.010000:1336145.604,2.050000:1335535.906,
#*# 	2.090000:1334866.619,2.130000:1334156.021,2.170000:1333427.660,
#*# 	2.210000:1332746.595,2.250000:1332069.640,2.290000:1331418.654,
#*# 	2.330000:1330756.181,2.370000:1330075.402,2.410000:1329350.327,
#*# 	2.450000:1328650.875,2.490000:1327907.827,2.530000:1327209.748,
#*# 	2.570000:1326534.417,2.610000:1325895.501,2.650000:1325268.302,
#*# 	2.690000:1324623.108,2.730000:1323951.548,2.770000:1323306.899,
#*# 	2.810000:1322693.536,2.850000:1322096.854,2.890000:1321475.890,
#*# 	2.930000:1320843.945,2.970000:1320221.957,3.010000:1319659.288,
#*# 	3.050000:1319089.057,3.090000:1318503.257,3.130000:1317891.139,
#*# 	3.170000:1317303.631,3.210000:1316741.189,3.250000:1316193.360,
#*# 	3.290000:1315656.295,3.330000:1315118.616,3.370000:1314581.782,
#*# 	3.410000:1314054.048,3.450000:1313544.304,3.490000:1313045.785,
#*# 	3.530000:1312537.332,3.570000:1312043.964,3.610000:1311566.319,
#*# 	3.650000:1311131.935,3.690000:1310692.650,3.730000:1310250.638,
#*# 	3.770000:1309772.709,3.810000:1309321.094,3.850000:1308860.989,
#*# 	3.890000:1308422.894,3.930000:1307986.681,3.970000:1307581.343,
#*# 	4.010000:1307176.912,4.050000:1306791.115
